@import '~sass/variables.scss';

.secondary-btn{
    height: 50px;
    box-shadow: 1px 2px 8px rgba(127, 127, 127, 0.25);
    border-radius: 6px;
    border: 0;
    background-color: $secondary-color;
    font-weight: bold;
    color: white;

    &:hover, &:focus{
        border: none;
        outline: none;
        background-color: $secondary-color !important;
    }
}