@import '~sass/variables.scss';

.workshop{
    transition: all 0.3s;
    background-color: white;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    .thumbnail{
        height: 180px;
        cursor: pointer;
    }
    .content{
        padding: 20px 35px 35px 35px;
        flex-grow: 1;
        
        .title{
            cursor: pointer;
            margin-bottom: 1.5rem;
            font-weight: bold;
        }
        .price{
            margin-bottom: 1.5rem;
        }
    }

    &:hover{
        box-shadow: 1px 2px 16px rgba(127, 127, 127, 0.35);
    }

    @media screen and(max-width: 992px) {
        flex-direction: row;
        .thumbnail{
            height: unset !important;
            width: 30% !important;
            flex-basis: 30% !important;
            min-width: 30% !important;
        }
        .title{
            cursor: pointer;
        }
        .content{
            padding: 15px;
            .date{
                font-size: 10px;
                margin-bottom: 0.5rem;
            }
            .title{
                font-size: 18px;
                margin-bottom: 0.5rem;
            }
            .price{
                font-size: 20px;
                margin-top: 10px;
                margin-bottom: 0 !important;
            }
            button{
                width: 40px !important;
                height: 40px !important;
                padding: 0 !important
            }
        }
    }
}