@import '~sass/variables.scss';

#footer{
    background-color: #F2F2F2;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 80px;
    h6{
        font-weight: 600;
    }


    @media (max-width: 992px) {
        height: 60px;
    }
}