@import '~sass/variables.scss';

.checkoutdlg-body, .thanks-body {
    padding: 82px 94px;
    h6{
        width: 50%;
        font-size: 15px;
    }
    
    .label-group{
        margin-bottom: 0.5rem;
        label{
            margin: 0;
        }
        .error-msg{
            display: block;
        }
    }
    input, select{
        border: none;
        border-bottom: 2px solid #7F7F7F;    
        border-radius: 0;
    }
}

.modal-dialog {
    max-width: 760px;
    .modal-content{
        border-radius: 16px;
    }
}

@media (max-width: 576px) {
    .checkoutdlg-body, .thanks-body {
        padding: 40px;
        width: 100vw;
        .label-group{
            label{
                font-size: 13.5px;
            }
            .error-msg{
                font-size: 10px;
            }
        }
        h6{
            font-size: 13.5px;
            width: 100%;
        }
    }

    .thanks-body{
        h2{
            padding-top: 100px;
        }
        h6{
            padding-bottom: 80px;
        }
    }
    .modal-dialog{
        margin: 1.75rem 0;
    }
}